@use "utils/globals";
@use "utils/variables";

@media only screen and (max-width: 56.25rem) {
  .hidden-mobile {
    display: none;
  }
}

header {
  background-color: red;
  color: gold;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-logo {
  cursor: pointer;
}