<div class="region__container">
  <h2 class="region__title">Regions</h2>

  <div class="region__grid">
    <div class="region__card" routerLink="region-pokemon/{{ region.id }}" *ngFor="let region of regions">
      <p>{{ region.name }}</p>
    </div>
  </div>

  <div class="region__dropdown">
    <select (change)="onSelectedRegion()" [(ngModel)]="selectedRegionId">
      <option *ngFor="let region of regions" [value]="region.id">
        {{region.name}}
      </option>
    </select>
  </div>

  <router-outlet></router-outlet>
</div>