.region {
  &__container {
    padding: 1rem;
    background-color: #e09393;
    border-radius: 10px;
  }

  &__title {
    text-align: center;
  }

  &__grid {

    margin-top: 1rem;
    justify-content: space-around;
    justify-items: center;
    gap: 1rem;
    display: none;

    @media only screen and (min-width: 56.25rem) {
      display: grid;
      grid-template-columns: repeat(4, auto);
    }

    @media only screen and (min-width: 97rem) {
      display: flex;
    }
  }

  &__dropdown {
    @media only screen and (min-width: 56.25rem) {
      display: none;
    }

    select {
      width: 100%;
    }
  }

  &__card {
    background-color: #9bc388;
    border-radius: 5px;
    border: #213816;
    border-style: solid;
    box-shadow: 5px 10px 8px #888888;
    min-height: 3rem;
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #213816;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}